body {
    background-color: #212529;
    background-image: url(/static/media/bg-dark.jpg);
}

main {
    background-color: #2b3035;
}

.text-theme-primary {
    color: #ffffff!important;
}

.text-theme-secondary {
    color: #adb5bd!important;
}

.border-color-theme {
    border-color: #888888!important;
}

.nav-link {
    color: #ffc107;
    --bs-nav-link-hover-color: #9B7400;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #9B7400;
    --bs-btn-hover-border-color: #8B6400;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.alert-success {
    color: #ffffff;
    background-color: #007700;
    border-color: #55aa55;
}

.alert-danger {
    color: #ffffff;
    background-color: #770000;
    border-color: #aa5555;
}

.alert-warning {
    color: #000000;
    background-color: #ffc107;
    border-color: #aa7755;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: #212529;
    --bs-dropdown-link-active-bg: #ffc107;
}

.card-theme {
    background-color: #212529!important;
}

.card-theme-danger {
    background-color: #770000!important;
    border-color: #aa5555!important;
    color: #ffffff!important;
}

.border-color-theme-danger {
    border-color: #aa5555!important;
}