{% extends "base.html" %}
{% block main_content %}
<h1 class="text-center text-theme-primary py-2 mb-3">Данные об аккаунте:</h1>
<div class="indent text-theme-primary pb-3">
    <h3>Имя: {{ current_user.name }}</h3>
    <h3>E-mail: {% if current_user.email %}{{ current_user.email }}{% else %}не указан{% endif %}</h3>
    <h3>Номер телефона: {{ current_user.phone }}</h3>
    <h3>Адрес: {% if current_user.address %}{{ current_user.address }}{% else %}не указан{% endif %}</h3>
    <h3>Роль: {% if current_user.is_admin %}администратор{% elif current_user.is_moderator %}модератор{% else %}клиент{% endif %}</h3>
</div>
<div class="text-center py-3 border-bottom border-color-theme">
    <a href="/settings" style="width: 80%;" class="btn btn-primary py-2">Поменять данные</a>
</div>
<h3 class="text-theme-primary indent py-3">Забронированные книги:</h3>
{% if books.count() %}
<div class="indent">
    <div style="overflow: auto; display: flex; flex-direction: row;" class="border border-color-theme border-round">
        {% for book in books %}
        <div class="card {% if book.deadline >= date %}card-theme{% else %}card-theme-danger{% endif %} text-theme-primary border-color-theme m-3 product-width">
            <a href="/products/{{ book.product_id }}" class="border-bottom {% if book.deadline >= date %}border-color-theme{% else %}border-color-theme-danger{% endif %}"><img src="/static/media/from_users/{{ products_list[book.product_id].image_preview }}" class="card-img-top" style="object-fit: cover; background: #fff;" alt="{{ products_list[book.product_id].name }}"></a>
            <div class="card-body d-flex justify-content-between" style="flex-direction: column;">
                <div class="pb-3">
                    <h5 class="card-title text-center">{{ products_list[book.product_id].name }}</h5>
                    <p class="card-text text-center">ID: <b>{{ book.id }}</b></p>
                    <p class="card-text text-center">Вернуть: <b>{{ deadline[book.id]}}</b></p>
                </div>
                <div>
                    <div class="text-center py-1">
                        <a href="/products/{{ book.product_id }}" class="btn btn-primary w-100">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3 class="text-theme-primary text-center">У вас сейчас нет забронированных книг</h3>
{% endif %}
<form method="post" class="text-center pt-3 pb-1 mt-3 border-top border-color-theme">
    <button type="submit" name="clear_cart" style="width: 80%;" class="btn btn-primary py-2">Очистить список</button>
</form>
<form method="post" class="text-center py-1">
    <button type="submit" name="clear_rec" style="width: 80%;" class="btn btn-primary py-2">Очистить рекомендации</button>
</form>

{% endblock %}