{% extends "base.html" %}
{% block main_content %}
<form method="post" xmlns="http://www.w3.org/1999/html" enctype="multipart/form-data">
    <a class="text-theme-primary" href="/"><img class="mb-4" src="/static/media/logo.png" alt="{{ COMPANY_NAME }}" height="57"></a>
    <h1 class="h3 mb-5 fw-normal text-theme-primary">Изменение товара</h1>

    <div class="form-floating">
        <input type="text" class="form-control form-control-begin" id="floatingName" name="name" placeholder="Название" value="{% if session.get('new_product_name') %}{{ session.get('new_product_name') }}{% else %}{{ product.name }}{% endif %}">
        <label for="floatingName">Новое название</label>
    </div>
    <div class="form-floating">
        <textarea rows="3" class="form-control" id="floatingAbout" name="about" placeholder="Описание">{% if session.get('new_about') %}{{ session.get('new_about') }}{% else %}{{ product.about }}{% endif %}</textarea>
        <label for="floatingAbout">Новое описание</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingPrice" name="price" placeholder="Цена" value="{% if session.get('new_price') %}{{ session.get('new_price') }}{% else %}{{ product.price }}{% endif %}">
        <label for="floatingPrice">Новая цена в ₽</label>
    </div>
    <div class="form-floating">
        <input type="number" class="form-control" id="floatingManufacturer" name="manufacturer" placeholder="ID производителя" value="{% if session.get('new_manufacturer') %}{{ session.get('new_manufacturer') }}{% else %}{{ product.manufacturer_id }}{% endif %}">
        <label for="floatingManufacturer">Новое ID производителя</label>
    </div>
    <div class="form-floating">
        <textarea rows="2" class="form-control" id="floatingTags" name="tags" placeholder="Тэги">{% if session.get('new_tags') %}{{ session.get('new_tags') }}{% else %}{{ product.tags }}{% endif %}</textarea>
        <label for="floatingTags">Новые тэги</label>
    </div>
    <div class="form-floating" style="height: 76px;">
        <input type="file" accept="{{ accept_images }}" multiple="multiple" class="form-control form-control-end h-100 pt-5" id="floatingFile" name="files[]" placeholder="Файл">
        <label for="floatingFile">Новые файлы</label>
    </div>

    <div class="pt-4 pb-5">
        <button class="btn btn-primary w-100 py-3" type="submit">Изменить</button>
    </div>
    {% if current_user.is_admin %}
    <div class="py-2">
        <a href="/admin" class="btn btn-primary w-100 py-2">Меню администратора</a>
    </div>
    {% endif %}
    <div class="py-2">
        <a href="/" class="btn btn-primary w-100 py-2">Главная страница</a>
    </div>
    <div class="py-2">
        <a href="/products/{{ product.id }}" class="btn btn-primary w-100 py-2">Вернуться к странице товара</a>
    </div>
    <div class="py-2">
        <a href="/products" class="btn btn-primary w-100 py-2">Остальные товары</a>
    </div>

    <h1 class="h3 mt-5 mb-4 fw-normal text-theme-primary">Список ID производителей:</h1>
    <div class="list-group" style="max-height: 80vh; overflow: auto;">
        {% for manufacturer in manufacturers_list %}
        <a href="/manufacturers/{{ manufacturer.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="/static/media/from_users/{{ manufacturer.logo }}" alt="twbs" width="64" height="32" style="object-fit: contain;" class="border border-round flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{ manufacturer.name }}</h6>
                    <p class="mb-0 opacity-75">{{ manufacturer.about }}</p>
                </div>
                <small class="opacity-50 text-nowrap">ID - {{ manufacturer.id }}</small>
            </div>
        </a>
        {% endfor %}
    </div>

    <p class="mt-5 mb-3 text-theme-primary">© {{ YEAR }} {{ COMPANY_NAME }}</p>
</form>
{% endblock %}